---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#home' },
        { text: 'Services', href: '#services' },
        { text: 'About', href: '#about' },
      ]}
      actions={[
        {
          text: 'Contact',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="home"
    title="Perfect electronic prototype"
    tagline="Startup : launch our"
    actions={[{ variant: 'primary', text: 'Contact', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Efficient, robust and secure
    </Fragment>
  </Hero>
  <!-- Content Widget **************** -->

 <Content
   id="services"
   title="World is waiting for our product"
   subtitle="Some previous product build here"
   isReversed
   image={{
     src: '~/assets/images/station_air_quality.jpg',
     alt: 'Tech Design Image',
   }}
 >
   <Fragment slot="content">
     <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
       Air quality monitoring
     </h3>
     <p>
       Real time air quality station for our home
     </p>
   </Fragment>
 
   <Fragment slot="bg">
     <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
   </Fragment>
 </Content>

 <Content
   id="about"
   columns={3}
   image={{
     src: '~/assets/images/me.jpg',
     alt: 'Colorful Image',
     loading: 'eager',
     class: 'object-contain h-64 w-64 mx-auto rounded-full mt-8',
   }}
 >
   <Fragment slot="content">
     <h2 class="text-2xl font-bold mb-2">About me</h2>
     <p>
       After years in several companies in embedded systems, I'm here at your service.<br />
       Easy-going girl with a strong sense of doing great work.<br />
       <br />
       3 fun facts :<br />
     </p>
     <ul class="list-disc pl-6 mt-2 space-y-1">
       <li>I got fired from a Titanic startup, that's why I'm here. Anyway, love them and I hope they'll be ok.</li>
       <li>First time I became team leader, the next 3 months I handled 10 project managers.</li>
       <li>I keep pushing in tech even if I'm almost the only tech girl in the company. So believe me, I love my job.</li>
     </ul>
   </Fragment>
 </Content>
</Layout>
