---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData } from '~/navigation';
import type { MetaData, CallToAction } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  {/* Retire l'annonce */}
  {/* <Announcement /> */}
  <Header links={headerData.links} actions={headerData.actions as CallToAction[]} isSticky={true} />
  <main>
    <slot />
  </main>
  <Footer />
</Layout>
